*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.imgbanner {
   
    width: 100vw;
    height: 100vh;
    background-image: url("assets/bmw-x-series-x1-sp-desktop.jpg");
    background-size: cover;
}
nav {
    width: 100vw;
    height:10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.nav--anchors {
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.nav--icons {
    display: flex;
    justify-content:space-between;
    gap: 30px;
}

.icon {
    width: 20px;
    height: 20px;
    display: flex;
  }

  .logo {
    height: 60px;

  }

  .home-content{
    position: absolute;
    bottom: 100px;
    display: grid;
    justify-content: space-around;
  }

  .home-content h1{
    font-size: 30px;
    color: white;
  }
  .home-content h2{
    font-size: 20px;
    color: white;
    margin-bottom: 8px;
  }
  .button {
    width: 200px;
    background-color: blue;
    color: white;
  }

